*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
 }
 
 
  
body{

  background-repeat: no-repeat;
  overflow: hidden;


  
}

             /* start header */
.header {
    /* background-color: #333; Couleur de fond du header */
    color: #000000; /* Couleur du texte dans le header */
    padding: 10px; /* Espacement intérieur du header */
    height: auto;
    z-index: 1px;
    background-color:transparent;
    animation: apparition 0.4s 1s ease-out forwards;
    opacity: 0;
  }
  
  nav {
    display: flex; /* Utilisation de Flexbox pour aligner les éléments de la navbar */
    justify-content: space-between; /* Alignement à gauche et à droite */
    align-items: center; /* Alignement vertical des éléments de la navbar */
  }
  
  ul {
    list-style: none; /* Suppression de la liste par défaut */
    margin: 0; /* Suppression des marges par défaut */
    padding: 0; /* Suppression des espacements par défaut */
  }
  
  li {
    display: inline-block; /* Affichage des éléments de la liste en ligne */
    margin-right: 20px; /* Espacement entre les éléments de la liste */
  }
  .other_section li a {
     padding-left: 50px;
     font-style: oblique;
     font-size: 20px;
     color: #2803ff; /* Couleur des liens dans la navbar */
     text-decoration: none; /* Suppression de la soulignement des liens */
     height: auto;
  }
  .logo img {
     width: 107px; /* Taille maximale de l'image */
     height: 82px; /* Hauteur de l'image adaptée en conséquence */
     margin-left: 100px ;
  }
 
  .button .LOGIN{
   color: #2803ff;
   background-color: transparent;
   border: transparent;
   font-style: oblique;
   font-size: 20px;
 
 
  }
  .button .Sign_up{
   color: #ffffff;
   background-color: #2803ff;
   border-radius: 14px ;
   font-style: oblique;
   font-size: 20px;
   margin: 10px;
   width: 100px;
 
  }
 
 
  .button .Sign_up:hover{
    color: #ffffff;
   background-color: transparent;
   border: transparent;
   font-style: oblique;
   font-size: 20px;
   margin: 10px;
   width: 100px;
   border:2px solid #000 ;
   border: 120px;
 
  }


               /* end header  */

               /* position Sign_up Sign_up */
  
  .cont_all{

    display: flex;
    justify-content: space-between ;
    height: 754px;
    background:linear-gradient(black, blue,#fff); 

    
    
  }
  .image_cover_inscription{
    background-image: url(../video/image_cover_inscription.jpeg);
    width: 50%;

    

  }
  .image_cover_inscription img {
    width: 165px;
    height: 108px;  
    animation: apparition 0.5s 1s ease-out forwards;
    opacity: 0;
    transform: translateX(200px);

     
    
  }
  .image_cover_inscription p{
    color: #fff; 
    
    font-size: 20px;
    letter-spacing: 7px;
    margin-top: 300px;
    margin-left: 90px;
    font-family: auto;
    -webkit-text-stroke: 1px #ffffff   ;
    animation: apparition 0.5s 1.5s ease-out forwards;
    opacity: 0;
    
    transform: translateX(-200px);
  }
 
  

                                                         /*start Style sign_in  */
  .sign-in{

    display: flex;
    align-items: center;
    
    width: 50%;
    
    /* display: none;  */

  }
  .sign-in-form{

    height: 350px;
    width: 100%;
    box-shadow: 1px 8px 6px 10px rgba(27, 38, 118, 0.79);
    -webkit-box-shadow: 1px 8px 6px 10px rgba(27, 38, 118, 0.79);
    -moz-box-shadow: 1px 8px 6px 10px rgba(27, 38, 118, 0.79);
    margin: 20px;
    border-radius: 20px;
    /* background-color: #fff; */
    animation: apparition 0.6s 2s ease-out forwards;
    opacity: 0;
    transform: translateY(30px);
    transform: translateX(20px); 
    border: 3px solid #fff;
   
   }
                /*title sign_in*/ 
  .title_sign_in{
    width: 700px;
    height: 83px;   
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    color: #fff;
    -webkit-text-stroke: 1px black;
  }

                        /* style input sign_in*/ 
  .input-sign-in{
    width:90%;
    height: 50px;
    border-color: red;
    background: #fff;
    margin: 10px 0;
    border: 2px solid blue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 20px;

    
  }
  .input-sign-in i{

    flex : 1;
    text-align: center;
    color: blue;
    font-size: 20px;
    
  }
  .input-sign-in input{

    flex : 5;
    border: none;
    outline: none;
    width: 50%;
    font-size: 18px;
    border-radius: 50px;
    height: 30px;
    margin-left: 10px;

    
  }
              /*style button login*/
  .btn-sign-in{
    width: 700px;
    display: flex;
    justify-content: center;

    
    
  }
  .btn-sign-in input {
    margin-top: 20px ;
    padding: 7px 50px 7px 50px; 
    font-size: 20px;
    border-radius: 15px;
    -webkit-text-stroke: 1px #fff;
    color: blue;
    background-color: blue;
     
  }   
                                                            /*end style sign_in*/

                                                              /* start Style sign_up  */
   .sign-up{  

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 700px;
    margin: 20px; 
    
  }
  .sign-up-form{    

    height: 400px;
    width: 100%;
    box-shadow: 1px 8px 6px 10px rgba(27, 38, 118, 0.79);
    -webkit-box-shadow: 1px 8px 6px 10px rgba(27, 38, 118, 0.79);
    -moz-box-shadow: 1px 8px 6px 10px rgba(27, 38, 118, 0.79);
    border-radius: 20px;
    background-color: #fff;
    animation: apparition 0.6s 2s ease-out forwards;
    opacity: 0;
    transform: translateY(30px);
    transform: translateX(20px); 
    border: 3px solid #fff;
   }
  

              /*title sign_up*/ 
  .title_sign_up{
    width: 700px;
    height: 83px;
   
    font-size: 46px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    color:#fff;
    -webkit-text-stroke: 1px black   ;
  }

              /* style input sign_in*/ 
  .input-sign-up{
    width:90%;
    height: 50px;
    border-color: red;
    background: #fff;
    margin: 10px 0;
    border: 2px solid blue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 20px;
    


    
  }
  .input-sign-up i{

    flex : 1;
    text-align: center;
    color: blue;
    font-size: 20px;
    
  }
  .input-sign-up input{

    flex : 5;
    border: none;
    outline: none;
    width: 50%;
    font-size: 18px;
    border-radius: 50px;
    height: 30px;
    margin-left: 10px;

    
  }
              /*style button login*/
  .btn-sign-up{
    width: 700px;
    display: flex;
    justify-content: center;

    
    
  }
  .btn-sign-up input {
    margin-top: 20px ;
    padding: 7px 50px 7px 50px; 
    font-size: 20px;
    border-radius: 15px;
    -webkit-text-stroke: 1px #fff;
    color: blue;
    background-color: blue;
     
  }
                                                                /* end Style sign_up*/
                                /* apparicient de text/logo/form_home*/
@keyframes apparition {
  100%{
     opacity: 1;
     transform: none;
  }  
}
                    /* fin apparicient text/logo/form_home*/
    
   