*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
 }
 
 
  
body{

  
  overflow: hidden;


  
}
.cont_all{

    display: flex;
    justify-content: space-between ;
    height: 754px;
    background:linear-gradient(black, blue,#fff); 

    
    
  }
  .image_inscription_groupe{
    background-image: url(../video/image_cover_inscription.jpeg);
    width: 50%;
  }
  .image_inscription_groupe img {
    width: 165px;
    height: 108px;  
    animation: apparition 0.5s 1s ease-out forwards;
    opacity: 0;
    transform: translateX(200px);

     
    
  }
  
                                                 /* start style form inscription  */


 .inscription_groupe-form{
    display: flex;
    align-items: center;                                                             
    width: 50%;
  }
  .inscription-form{

    height: 436px;
    width: 100%;
    box-shadow: 1px 8px 6px 10px rgba(27, 38, 118, 0.79);
    -webkit-box-shadow: 1px 8px 6px 10px rgba(27, 38, 118, 0.79);
    -moz-box-shadow: 1px 8px 6px 10px rgba(27, 38, 118, 0.79);
    margin: 20px;
    border-radius: 20px;
    /* background-color: #fff; */
    animation: apparition 0.6s 2s ease-out forwards;
    opacity: 0;
    transform: translateY(30px);
    transform: translateX(20px); 
    border: 3px solid #fff;
   

  }

                /*title sign_in*/ 
.title_form-inscription{

    width: 700px;
    height: 83px;   
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    color: #fff;
    -webkit-text-stroke: 1px black;

}
                /* style input sign_in*/ 
  .input-inscription-form{
    width:90%;
    height: 50px;
    border-color: red;
    background: #fff;
    margin: 10px 0;
    border: 2px solid blue;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin-left: 18px;
    margin-top: 20px;

    
  }
  .input-inscription-form i{

    flex : 1;
    text-align: center;
    color: blue;
    font-size: 20px;
    z-index: 1;
    
  }
  .input-inscription-form input{

    flex : 5;
    border: none;
    outline: none;
    width: 50%;
    font-size: 18px;
    border-radius: 50px;
    height: 30px;
    margin-left: 10px;

    
  }
              /*style button login*/
.btn-inscription{
  width: 700px;
  display: flex;
  justify-content: center;

  
  
}
.btn-inscription input {
  margin-top: 20px ;
  padding: 7px 50px 7px 50px; 
  font-size: 20px;
  border-radius: 15px;
  -webkit-text-stroke: 1px #fff;
  color: blue;
  background-color: blue;
   
} 

              /*style dicipline*/



.select-inscription-form{
  display: flex;
  justify-content: flex-start;
  margin-left: 22px;
  margin-top: 20px ;
  height: 45px;
}


 .DISCIPLINE_icons{
display: flex;

color: blue;
background-color: #fff;
border-radius: 30px  0px 0px 30px;
margin-left: 0px;

}
.DISCIPLINE_icons i{
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 7px;
  width: 84px;
 
  
  }


select {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 16px;
  border: transparent;
  background-color: #fff;
  border-radius: 0px 30px 30px 0px;
  width: 540px;
  height: 45px;
  color: gray;
  font-size: 17px;
  border: none;
  outline: none;
  -webkit-appearance: none; /* pour les navigateurs basés sur WebKit */
  -moz-appearance: none; /* pour les navigateurs basés sur Gecko */
  appearance: none; /* pour les autres navigateurs */
  background-image: none; /* pour éviter l'affichage d'une icône par défaut */
  padding-left: 24px;
  


}






                                                 /* end style form inscription  */


































































  @keyframes apparition {
    100%{
       opacity: 1;
       transform: none;
    }  
  }